*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    
}

::-webkit-scrollbar{
    display:none;
}

.logo_area{
    color:red;
    padding:30px;
}
.at{
    width:clamp(2px, 10cqi, 80px);
    /* box-shadow:4px 4px 8px black; */
    margin-left:clamp(0px, 10cqi, 1000px);
    transition:all .4s linear;
    
}
.at:hover{
    transform:scale(1.1);
    transition:all .4s linear;
    cursor:pointer;
}
h5{
    width:clamp(2px, 10cqi, 80px);
    margin-left:clamp(0px, 10cqi, 1000px);
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform:uppercase;
    text-align:center;
    padding-top:10px;
    border-left:2px solid orange;
    padding-left:10px;
    line-height:25px;

}
.header{
    display:flex;
    
    /* width:100vw; */
}


.sect1{
    min-height:100vh;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.8)),url(./images/im4.jpg) center/cover no-repeat;
    background-attachment:fixed;
}
.sect1 p{
    color:grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:center;
    align-items:center;
    text-align: center;
    font-size:clamp(25px, 3.5cqi,2em);
    padding-right:clamp(10px, 10cqi, 200px);
    padding-left:clamp(10px, 10cqi, 200px);
    padding-top:clamp(10px, 5cqi, 200px);
    visibility: visible;
}
.btn{
    justify-content:center;
    text-align:center;
    padding-top:clamp(150px, 20cqi, 150px);
}
.dot{
    color:orange;
    font-size: 2em;
    padding:5px;
}
.btn a{
    text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:orange;
    border:2px solid orange;
    border-radius:30px;
    padding:20px 50px 20px 50px;
    transition:background linear.4s;
    
}
.btn a:hover{
    background-color:orange;
    transition:background linear.4s;
    color:black;
    /* border:2px solid black; */
}

.active{
    animation: animate 1.5s linear;
}

.activ{
    animation: art2 1s linear;
    /* background-color:orange; */
}
.active3{
    opacity: 1;
    transform:translate(0px, 0px);
    transition:all 1.5s linear;
}

.heading{
    background-color: rgba(211, 211, 211, .4);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding:20px 10vw;

    
}
.title{
    font-size:clamp(1.8em, 4cqi, 3em);
    padding:60px 20px;
    text-transform:uppercase;
    color:grey;
    text-align:center;
    font-weight:lighter;

}
.orange{
    color:orange;
    font-style:normal;
    font-weight:400;
}
.info{
    line-height: 2em;
    color:grey;
    font-size:clamp(1em, 2cqi, 1.1em);
}
.bold{
    font-weight: 700;
}
.body1{
    display: flex;
    padding:20px 10vw;
    gap:2em;

}
.img1{
    /* height:100vh; */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(./images/im6.jpg) center/cover no-repeat;
    background-attachment:fixed;
    width:50vw;

}
.img2{
    /* height:100vh; */
    /* background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(./images/im11.jpg) center/cover no-repeat; */
    background-attachment:fixed;
    width:50vw;
}
.img{
    width:100%;
    
    object-fit: cover;
    object-position: fixed;
}
.info1{
    /* width:50vw; */
    width:100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.info1 p{
    text-align:center;
    color:orange;
    border:1px solid black;
    /* width:500px; */
    border-radius: 20px;
    align-items: center;
    padding:20px;
    font-size:clamp(1.35em, 2cqi, 2em);
    margin:20px;
}
.info1 div{
    border:1px solid orange;
    padding:20px;
    margin:20px 0px;
    line-height: 1.7em;
    color:grey;
    font-size:clamp(1em, 2cqi, 1.1em);
    text-align: center;
    /* align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; */
}
.sect3{
    background-color: rgba(211, 211, 211, .4) ;
    display:flex;
}
.function{
    /* height:100vh; */
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),url(./images/im14.jpg) center/cover no-repeat;
    width:100vw;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10em;

}
.function p{
    color:orange;
    font-size:clamp(1.7em, 4cqi, 3em);
    /* font-size: 3.5em; */
    font-weight:lighter;
    margin:30px;
    text-transform:uppercase;
}
.function div{
    color:orange;
    border:1px solid orange;
    padding:20px 20px;
    margin:20px;
    font-size:em;
}
.info2 p{
    color:grey;
    /* border:1px solid grey; */
    padding:20px;
    margin:20px;
    text-align:center;
    font-size:1.15em;
    line-height:1.7em;
}
.info2 p i{
    color:orange;
    font-size:1.5em;
}
.info2 div div{
    /* background-color: white; */
    width: 350px;
    border-left:1px solid grey;
    border-bottom:1px solid grey;
    border-bottom-left-radius: 20px;
    /* box-shadow: 1px 1px 4px; */
    padding:30px;
    color:grey;
    /* display: flex; */
    /* flex-direction: row; */
    /* background-color: white; */
    line-height: 1.7em;
    color:grey;
    font-size:clamp(1em, 2cqi, 1.1em);
}
.info2 div{
    gap:2em;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


footer{
    height: 100vh;
    width:100vw;
}
.half1{
    height: 100vh;
    background-color:orange;
    filter:opacity(.8);
    padding:40px;
}
.half2{
    height: 100vh;
    background-color: black;
    filter:opacity(.8);
}
footer .half{
    display:flex;
    overflow:hidden;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),url(./images/build2.jpg) center/cover no-repeat;
    background-attachment: fixed;
    
}

form .in1, .in2{
    display:flex;
    flex-direction: row;
}

.half2 p{
    color:orange;
    text-transform:uppercase;
    display:flex;
    font-size:2em;
    padding:40px 0px;
    /* font-weight:bold; */
    justify-content: center;
}
.half2{
    padding:75px;
}
.sect1, .sect2{
    /* display:none; */
}
form{
    color:orange;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:20px;

}
input::placeholder{
    /* color:red; */
    text-transform:uppercase;
}
input{
    border:.5px solid orange;
    background-color: rgba(0, 0, 0, .0);
    height:40px;
    width:100%;
    padding:10px;
    color:white;
    /* width:20px; */
}
textarea{
    border:1px solid orange;
    background-color: rgba(0, 0, 0, .0);
    width:100%;
    padding:10px;
    color:white;
}
form button{
    color:black;
    background-color: orange;
    border:none;
    /* width:clamp(2px, 30cqw, 535px); */
    width:100%;
    padding: 10px;
    text-transform: uppercase;
    font-size: medium;
    /* margin-bottom:200px; */
}
form button:hover{
    filter:brightness(.5);
    cursor:pointer;
}
.copy{
    background-color:black;
    color:grey;
    text-align: center;
    font-size:.8em;
    padding:2px;
    width: 100%;
    position: absolute;
    /* line-height: 200vh; */
    /* position:absolute; */
    /* position:fixed; */
    /* bottom:0; */
    /* left:0; */
    /* margin-top:20px; */
}
.half1 .flex{
    display:flex;
    justify-content: center;
    align-items: center;
    height:50%;
    /* padding:2px; */
    gap:clamp(0em, 3cqw, 10em);
    /* overflow:hidden; */
    border-bottom:1px solid black;

}
/* .half1{p} */
.flex div{
    display:flex;
    flex-direction: column;
}
.flex p{
    border:10px solid black;
    padding:35px;
    border-radius:10px;
    text-transform: capitalize;
}
.flex div a{
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    line-height:3em;
    width:100px;
    text-align: center;
    transition:all .4s linear;
    
}
.flex div a:hover{
    color:orange;
    background-color:black;
    transition:all .4s linear;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
    
    
}
.flex2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:50%;
    line-height: 2.5em;
    /* gap:clamp(2em, 5cqw, 10em); */
    border-bottom:1px solid black;

}
.solutions{
    width:200px;
    border-bottom: 1px solid black;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    font-size:1.3em;
}
.flex2 i{
    padding:3px;
}


@keyframes animate{
    0%{
        transform:translateX(-20em);
    }
    100%{
        transform:translateX(0px);
    }
}

@keyframes art2{
    0%{
        margin:70px;
        transform:scale(0.5);
    }
    50%{
        margin:55px;
    
    }
    100%{
        margin:40px;
    }
}


@media(max-width:600px){
    .links-container{
        display:none;
    }
    h8{
        display:none;
    }
    .links a{
        display:none;
    }
    .bars{
        color:grey;
        text-align:right;
        position:absolute;
        top:0;
        right:0;
        cursor:pointer;
        margin:50px 50px 0px 0px;
    }
    .hid0{
        display:flex;
        text-align: center;
        text-transform:capitalize;
    }
    .hid{
        margin:5px 20px;
        padding:15px 5px 15px 5px;
        /* background-color:rgb(211, 211, 211, .2); */
        width:50vw;
        transition:all .3s linear;
        /* display:none; */
        transform:scaleY(0);
        position:absolute;
    }
    .hid .secbar div .her {
        text-align: center;
        /* position: absolute; */
        color:red;
    }
    .hid div{
        /* border:1px solid black;  */
        padding:5px;
        /* font-weight:bold; */
        transition:all .3s linear;
        text-align: center;
        
    }
    .hid div:hover{
        background-color: rgb(211, 211, 211, .4);
        transition:all .3s linear;
        color:orange;
    }
    .hid div a{
        text-decoration:none;
        color:darkgray;
    }
    .hid div a:hover{
        color:orange;
    }
    .hid div i{
        /* justify-content: right; */
        /* display:flex; */
        /* text-indent: 30vw; */
        /* flex-direction: column; */
    }
    .hid1{
        margin:5px 20px;
        padding:15px 5px 15px 5px;
        width:30vw;
        /* background-color:rgb(211, 211, 211, .2); */
        transition:all .3s linear;
        position:absolute;
        right:0;
        /* display:none; */
        transform:scaleY(0);
    }
    .hid1 div{
        padding:5px;
        transition:all .3s linear;
    }
    .hid1 div:hover{
        background-color: rgb(211, 211, 211, .4);
        transition:all .3s linear;
    }
    .hid1 div a{
        text-decoration:none;
        color:darkgray;
    }
    .hid1 div a:hover{
        color:orange;
    }
    .body1{
        flex-direction: column;
    }
    .sect3{
        flex-direction: column;
    }
    .function p{
        /* font-size:clamp(1.1em, 2cqi, 1.25em) */
    }
    .function{
        height:100vh;
    }
    .img1{
        height:100vh;
        width: 100%;
    }
    .img2{
        width:100%;
    }
}
.active0{
    transition:all .4s linear;
    display:block;
}
.active4{
    transition:all .4s linear;
    /* display:block; */
    transform:scaleY(1);
}

#input{
    visibility:hidden;
}

@media(min-width:600px){
    .links{
        height:150px;
        justify-content:center;
        display:flex;
        align-items: center;
        text-transform:uppercase;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration:none;
        padding-right:20px;
    }
    .links a{
        text-decoration:none;
        font-size:clamp(12.5px, 2cqi, 0.9em);
        padding:clamp(0.5cqw,1.5cqw, 20px);
        flex-wrap:wrap;
        color:grey;
        /* display:flex; */
        transition:all .4s linear;
    }
    .links a:hover{
        color:orange;
        transition:all .4s linear;
        border-bottom:2px solid grey;
        border-bottom-left-radius:10px;
        transform:translateY(5px);
        overflow:hidden;
    }
    .links_container{
        container-type: inline-size;
        width:100%;
        justify-content:right;
    }
    .bars{
        display:none;
        visibility:hidden;
    }
    .hid{
        display:none;
    }
    .hid1{
        display:none;
    }
    .separat{
        position:absolute;
        left:clamp(26cqi, 20cqi, cqi);
        padding:10px 0px;
        /* display: none; */
        transform:scaleY(0);
        transition:all .4s linear;
    }
    .separat div{
        padding: 10px 0px;
        
    }
    .a{
        font-size:clamp(12.5px, 2cqi, 0.9em);
        padding:clamp(0.5cqw,1.5cqw, 20px);
        flex-wrap:wrap;
        color:grey;
        transition:all .4s linear;
    }
    .a:hover{
        color:orange;
        transition:all .4s linear;
        border-bottom:2px solid grey;
        border-bottom-left-radius:10px;
        transform:translateY(5px);
        overflow:hidden;
        cursor:pointer;
    }
    
}



@media(max-width:768px) {
    
    footer .half{
        /* display:block; */
        flex-direction:column;
    }
    .copy{
        margin-top:100vh;
    }
    

}
@media (min-width:768px){
    footer .half1, .half2{
        width:50vw;
    }
    
}

